<div class="dashboard-layout">
  <!-- Sidebar -->
  <nav class="sidebar">
    <h6 style="font-weight: bold; color: rgba(0, 0, 0, 0.7)">ALL REQUESTS</h6>
    <div class="divider"></div>

    <ul class="request-list">
      <li
        *ngFor="let request of requests"
        class="request-item"
        [class.active]="request.active"
      >
        <div
          class="request-title"
          (click)="toggleRequest(request)"
          [class.active]="request.active"
        >
          <img
            [src]="'assets/icons/' + getStatusIconFileName(request.status)"
            alt="{{ request.status }} icon"
            class="status-icon"
          />
          {{ request.name }}
        </div>

        <ul
          class="section-list"
          *ngIf="request.expanded"
          [class.expanded]="request.expanded"
        >
          <li
            *ngFor="let section of request.sections"
            class="section-item"
            [class.active]="section.active"
          >
            <div
              class="section-title"
              (click)="
                toggleSection(request, section); $event.stopPropagation()
              "
              [class.active]="request.active"
            >
              {{ section.name }}
            </div>

            <ul
              class="subsection-list"
              *ngIf="section.expanded"
              [class.expanded]="section.expanded"
            >
              <li
                *ngFor="let subsection of section.children"
                class="subsection-item"
                [class.active]="subsection.active"
                (click)="
                  selectSubsection(request.id, section.id, subsection.id);
                  $event.stopPropagation()
                "
              >
                {{ subsection.name }}
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </nav>

  <!-- Main content area -->
  <main class="main-content">
    <nav class="breadcrumb">
      @for (crumb of breadcrumbs; track $index; let last = $last) { @if (!last)
      {
      <a [routerLink]="crumb.url">{{ crumb.label }}</a>
      } @else {
      <span>{{ crumb.label }}</span>
      } @if (!last) {
      <span class="separator"> / </span>
      } }
    </nav>

    <router-outlet></router-outlet>
  </main>
</div>
