.illustration-container {
  text-align: center;
  margin: 20px 0;
}

.illustration-container img {
  width: clamp(10px, 40%, 1000px);
  height:fit-content;
}


.work-in-progress-wrapper {
  position: fixed;   /* make it stick to the viewport */
  bottom: 20px;      /* distance from bottom edge */
  right: 20px;       /* distance from right edge */
  z-index: 9999;     /* keep it above other elements */
}

.work-in-progress-wrapper svg {
  width: clamp(300px, 40%, 800px); /* responsive sizing */
  height: auto;                    /* keep aspect ratio */
}