<div class="editor-container">
  <!-- Quill Editor with toolbar -->
  <div class="editor-wrapper">
    <quill-editor
      [(ngModel)]="content"
      class="custom-quill"
      (onEditorCreated)="onEditorCreated($event)"
    >
    </quill-editor>
  </div>
  
  <!-- Success/Error Messages -->
  <div *ngIf="message" class="alert" [ngClass]="messageType">
    {{ message }}
  </div>
  
  <router-outlet></router-outlet>
</div>

<!-- Top Action Bar -->
  <div class="button-container">
    <button (click)="saveDoc()" class="btn custom-button">Save</button>
    <button (click)="cancelDoc()" class="btn custom-cancel-button">
      Cancel
    </button>
  </div>
