.request-detail-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
  font-size: small;
}

.request-detail-table th,
.request-detail-table td {
  border: 1px solid #ccc;
  padding: 8px 12px;
}

.request-detail-table th {
  background-color: #E6F0FA;
  text-align: left;
  width: 250px;
  color: rgba(0, 0, 0, 0.7);
}

.request-detail-table td {
  background-color: #fff;
  color: rgba(0, 0, 0, 1);
}

/* Chrome, Edge, Safari */
.request-detail-table::-webkit-scrollbar {
  width: 2px;   /* thin scrollbar */
}

.request-detail-table::-webkit-scrollbar-track {
  background: #f5f5f5;  /* track background */
  border-radius: 10px;
}

.request-detail-table::-webkit-scrollbar-thumb {
  background-color: #c1c1c1; /* scrollbar thumb */
  border-radius: 10px;
}

.request-detail-table::-webkit-scrollbar-thumb:hover {
  background-color: #a8a8a8;
}
/* #f5f5f5; */
